<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout 后台大布局 - Layui</title>
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">layui 后台布局</div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a href="">控制台</a></li>
                <li class="layui-nav-item"><a href="">商品管理</a></li>
                <li class="layui-nav-item"><a href="">用户</a></li>
                <li class="layui-nav-item">
                    <a href="javascript:;">其它系统</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">邮件管理</a></dd>
                        <dd><a href="">消息管理</a></dd>
                        <dd><a href="">授权管理</a></dd>
                    </dl>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                        贤心
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">基本资料</a></dd>
                        <dd><a href="">安全设置</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">退了</a></li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                @Html.Action("MenuItem", "Home", null)
            </div>
        </div>

        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div class="layui-tab" lay-filter="demo" lay-allowclose="true">
                <ul id="tabTitle" class="layui-tab-title"></ul>
                <div id="tabContainers" class="layui-tab-content">
                    @RenderBody()
                </div>
            </div>
        </div>

        <div class="layui-footer">
            <!-- 底部固定区域 -->
            © layui.com - 底部固定区域
        </div>
    </div>
    <ul class="rightmenu">
        <li data-type="closethis">关闭当前</li>
        <li data-type="closeall">关闭所有</li>
    </ul>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Content/layui/layui.js"></script>
    @RenderSection("scripts", required: false)
    <script>
        //调整iframe高度
        function reinitIframe() {
            var iframes = document.getElementsByName("iframe");
            try {
                for (var i = 0; i < iframes.length; i++)
                    //iframes[i].height = iframes[i].contentWindow.document.documentElement.scrollHeight;
                    iframes[i].height = window.screen.height - 280;
            } catch (ex) { }
        }

        window.setInterval("reinitIframe()", 200);
        //JavaScript代码区域
        layui.use('element', function () {
            var $ = layui.jquery, element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块

            var active = {
                tabAdd: function (url, id, name) {
                    //新增一个Tab项
                    element.tabAdd('demo', {
                        title: name //用于演示
                      , content: '<iframe frameborder="0" name="iframe" scrolling="no" width="100%" src="' + url + '"></iframe>'
                      , id: id //实际使用一般是规定好的id，这里以时间戳模拟下
                    });
                    //增加点击关闭事件
                    var r = $("#tabTitle").find("li");
                    //每次新打开tab都是最后一个，所以只对最后一个tab添加点击关闭事件
                    r.eq(r.length - 1).children("i.layui-tab-close").on("click", function () {
                        element.tabDelete("demo", $(this).parent("li").index());
                    }), element.tabChange("demo", r.length - 1);
                    element.init();
                }
                      , tabChange: function (id) {
                          //切换到指定Tab项
                          element.tabChange('demo', id); //切换到：用户管理
                      }
                        , tabDelete: function (id) {
                            element.tabDelete("demo", id);//删除
                        }
            };

            $("a[name='a']").click(function () {
                var dataid = $(this);
                if ($(".layui-tab-title li[lay-id]").length <= 0) {
                    active.tabAdd(dataid.attr("data-url"), dataid.attr("data-id"), dataid.text());
                } else {
                    var isData = false;
                    $.each($(".layui-tab-title li[lay-id]"), function () {
                        if ($(this).attr("lay-id") == dataid.attr("data-id")) {
                            isData = true;
                        }
                    })
                    if (isData == false) {
                        active.tabAdd(dataid.attr("data-url"), dataid.attr("data-id"), dataid.text());
                    }
                }
                active.tabChange(dataid.attr("data-id"));
            })
        });
    </script>
</body>
</html>
